@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto'
}

header {
    width: 100%;
    background-color: #3D3D3D;
}

.top-part {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.top-part-left {
    display: flex;
    align-items: center;
    gap: 80px;
    margin-bottom: -30px;
}

.top-part img {
    width: 120px;
    height: auto;
}

.search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    width: 40vw;
}

.search input {
    font-size: 17px;
    width: 80%;
    outline: none;
    border: none;
}

.icons {
    margin-bottom: -30px;
}

.icons i {
    margin-left: 20px;
    font-size: 20px;
}

.trapezoid-container {
    background-color: #D9D9D9;
}

.trapezoid {
    height: 25px;
    width: 80%;
    margin: 0 auto;
    background-color: #3D3D3D;
    clip-path: polygon(0 0, 100% 0, 98% 100%, 2% 100%);
}

.navbar {
    padding: 20px;
    background-color: #D9D9D9;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.nav-item {
    display: flex;
    list-style: none;
    font-size: 20px;
    gap: 90px;
    justify-content: center;

}

nav a {
    text-decoration: none;
    color: #3D3D3D;
}

ul i {
    font-size: 14px;
    margin-left: 10px;
    align-items: center;
}

.navbar span {
    color: #3D3D3D;
}

.dropdown-menu {
    background-color: #d9d9d9;
    position: absolute;
    padding: 10px;
    margin-top: 20px;
    display: none;
    flex-direction: column;
    list-style: none;
    text-align: center;
    gap: 10px;
    z-index: 2;
    width: 90px;
    border-radius: 0 0px 5px 5px;
}

.categories-menu {
    padding: 10px;
    width: 100%;
    top: 64px;
    left: 0;
    display: none;
    justify-content: space-around;
    background-color: #d9d9d9;
    position: absolute;
    z-index: 2;
    font-size: 18px;

}

.categories-menu-item {
    display: flex;
    flex-direction: column;
}

.categories-menu-item a {
    margin-bottom: 15px;
}

.dropdown-menu button {
    border: none;
    background-color: #d9d9d9;
    font-size: 16px;
}
.last-part {
    font-size: 20px;
    padding: 60px 20px;

    background-color: #555;
    color: white;


}

.last-part-boxes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 90%;
    margin: 0 auto;
    column-gap: 40px;
    row-gap: 40px;
}

.last-part h3 {
    font-family: 'Orbitron', sans-serif;
    text-transform: capitalize;
}

.last-part p,
.media i {
    margin-top: 20px;
}

.media {

    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.media i {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #333;
    color: white;
    font-size: 16px;
}

.icon-text {
    display: flex;
    align-items: center;
    /* flex-wrap: wrap; */
}

.icon-text h3 {
    margin-left: 10px;
    width: 20vw;
}

.part {
    width: 80%;
}

.part h3 {
    margin: 20px 0;
}

.part i {
    font-size: 30px;
}
.compare-container{
    width: 90%;
    margin: 100px auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}
.compare-box{
    border: 1px solid rgb(221, 220, 220);
    padding: 10px;
    border-radius: 10px;
}
.compare-title-box{
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
}
.compare-title{
    font-size: 1.4vw;
}
.compare-price{
    font-size: 1.5vw;
}
.compare-product-img{
     width: 100%;
    height: auto;
    object-fit: contain;
}



@media (max-width: 1100px) {
    .last-part-boxes {
        column-gap: 60px;
        row-gap: 40px;
        grid-template-columns: repeat(2, 1fr);
        padding: 50px 30px;
    }
    .hero-box h1{
        font-size: 4.5vw;
    }

    .last-part-p {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
    .main-boxes{
        grid-template-columns: 1fr;
    }
    .nav-item{
        gap: 70px;
    }
}

@media (max-width: 1000px) {
    .last-part {
        grid-template-columns: 1fr;
        padding: 40px 20px;
        font-size: 18px;
    }


    .media {
        justify-content: flex-start;
    }

    .icon-text {
        flex-direction: column;
        align-items: flex-start;
    }

    .icon-text h3 {
        margin-left: 0;
        margin-top: 10px;
    }
    .nav-item{
        gap:50px
    }
}