@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto'
}

header {
    width: 100%;
    background-color: #3D3D3D;
}

.top-part {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.top-part-left {
    display: flex;
    align-items: center;
    gap: 80px;
    margin-bottom: -30px;
}

.top-part img {
    width: 120px;
    height: auto;
}

.search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    width: 40vw;
}

.search input {
    font-size: 17px;
    width: 80%;
    outline: none;
    border: none;
}

.icons {
    margin-bottom: -30px;
}

.icons i {
    margin-left: 20px;
    font-size: 20px;
}

.trapezoid-container {
    background-color: #D9D9D9;
}

.trapezoid {
    height: 25px;
    width: 80%;
    margin: 0 auto;
    background-color: #3D3D3D;
    clip-path: polygon(0 0, 100% 0, 98% 100%, 2% 100%);
}

.navbar {
    padding: 20px;
    background-color: #D9D9D9;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.nav-item {
    display: flex;
    list-style: none;
    font-size: 20px;
    gap: 90px;
    justify-content: center;

}

nav a {
    text-decoration: none;
    color: #3D3D3D;
}

ul i {
    font-size: 14px;
    margin-left: 10px;
    align-items: center;
}

.navbar span {
    color: #3D3D3D;
}

.dropdown-menu {
    background-color: #d9d9d9;
    position: absolute;
    padding: 10px;
    margin-top: 20px;
    display: none;
    flex-direction: column;
    list-style: none;
    text-align: center;
    gap: 10px;
    z-index: 2;
    width: 90px;
    border-radius: 0 0px 5px 5px;
}

.categories-menu {
    padding: 10px;
    width: 100%;
    top: 64px;
    left: 0;
    display: none;
    justify-content: space-around;
    background-color: #d9d9d9;
    position: absolute;
    z-index: 2;
    font-size: 18px;

}

.categories-menu-item {
    display: flex;
    flex-direction: column;
}

.categories-menu-item a {
    margin-bottom: 15px;
}

.dropdown-menu button {
    border: none;
    background-color: #d9d9d9;
    font-size: 16px;
}

.hero-container {
    min-height: 600px;
    height: 80vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

.dots {
    position: absolute;
    right: 50%;
    bottom: 0%;
    text-align: center;
}

.slideshow-container {
    position: relative;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.dot {

    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

.fade {
    animation-name: fade;
    animation-duration: 2.5s;
}

.my-slides {
    display: none;
}

.hero-text-1,
.hero-text-2,
.hero-text-3 {
    text-align: start;
    position: absolute;
    top: 50%;
    left: 77%;
    transform: translate(-50%, -50%);
    color: black;
}

.hero-text-2,
.hero-text-3 {
    color: white;
    width: 30vw;

}

.hero-text-3 {
    left: 30%;
}

.hero-text-1 button,
.hero-text-2 button,
.hero-text-3 button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: black;
    background-color: #ddd;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
}

.hero-text-1 h1,
.hero-text-2 h1,
.hero-text-3 h1 {
    font-size: 4vw;
    margin-bottom: 20px;
}

.hero-text-1 button:hover,
.hero-text-2 button:hover,
.hero-text-3 button:hover {
    background-color: #555;
    color: white;
}

.hero-image {
    position: absolute;
    left: 45%;
    top: 20%;
}

.direction i {
    font-size: 50px;
    /* font-weight: 100; */
}

.hero-image img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

#main-text {
    width: 90vw;
    font-size: 40px;
    margin: 50px auto;
}

#main-text span {
    color: red;
}

.main-boxes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 80px;
    width: 90vw;
    margin: 20px auto;
}

.hero-box {
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    height: calc(300px * 1.2);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    transition: transform 0.4s ease-in-out;
}

.hero-box h1 {
    font-size: 2.5vw;
    text-align: start;
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: -1px -1px 9px rgba(0, 0, 0, 0.6);
}

.hero-box:hover {
    transform: scale(1.05);
}

.hero-box button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: black;
    background-color: #fff;
    text-align: center;
    cursor: pointer;
    position: absolute;
    top: 80%;
    right: 40px;
    font-size: 1.2vw;
    border-radius: 5px;
}

.hero-box i {
    font-size: 12px;
    margin-left: 5px;
}

#main-second-text {
    width: 90vw;
    font-size: 40px;
    margin-bottom: 50px;
    margin: 100px auto 50px;
}

.main-second-boxes {
    width: 80vw;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-content: space-between;
    margin: 50px auto;
}

.box {
    position: relative;
    border: 1px solid gray;
    overflow: hidden;
    border-radius: 10px;
    padding: 5px;   
}

.box img {
    width: 100%;
    height: auto;
}

.box-text {
    text-align: start;
    margin-left: 15px;
    margin-top: 10px;
    height: 40px;
    /* font-size: 1.1vw; */
    font-weight: 500;
}

.percent {
    position: absolute;
    right: 20px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 56px;
    background-size: cover;
    font-size: 1.3vw;
    font-weight: 700;
    background-color: red;
    color: #fff;
    z-index: 2;
    clip-path: polygon(100% 0%, 100% 100%, 50% 80%, 0% 100%, 0% 0%);
}

.box-price {
    margin-left: 15px;
    text-align: start;
    font-size: 1.5vw;
    font-weight: 500;
}

.box-discountPrice {
    text-decoration: line-through;
}

.prices {
    margin-bottom: 10px;
}

.sale {
    margin: 100px auto;
    width: 90vw;
    min-height: 500px;
    height: 80vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

.sale h1,
.sale p,
#timer {
    position: absolute;
    width: 50vw;
    left: 50%;
    top: 125px;
    color: white;
    font-size: 6vw;
}

#timer {
    top: 45%;
    font-size: 3vw;
}

.sale p {
    left: 50.5%;
    top: 25%;
    font-size: 1vw;
}

.about-us {
    text-align: center;
    margin: 80px auto;
    width: 100%;
    display: flex;
    gap: 100px;
    padding: 50px;
}

.last-part {
    font-size: 20px;
    padding: 60px 20px;

    background-color: #555;
    color: white;


}

.last-part-boxes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 90%;
    margin: 0 auto;
    column-gap: 40px;
    row-gap: 40px;
}

.last-part h3 {
    font-family: 'Orbitron', sans-serif;
    text-transform: capitalize;
}

.last-part p,
.media i {
    margin-top: 20px;
}

.media {

    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.media i {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #333;
    color: white;
    font-size: 16px;
}

.icon-text {
    display: flex;
    align-items: center;
    /* flex-wrap: wrap; */
}

.icon-text h3 {
    margin-left: 10px;
    width: 20vw;
}

.part {
    width: 80%;
}

.part h3 {
    margin: 20px 0;
}

.part i {
    font-size: 30px;
}

@media (max-width: 1100px) {
    .last-part-boxes {
        column-gap: 60px;
        row-gap: 40px;
        grid-template-columns: repeat(2, 1fr);
        padding: 50px 30px;
    }
    .hero-box h1{
        font-size: 4.5vw;
    }

    .last-part-p {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
    .main-boxes{
        grid-template-columns: 1fr;
    }
    .nav-item{
        gap: 70px;
    }
}

@media (max-width: 600px) {
    .last-part {
        grid-template-columns: 1fr;
        padding: 40px 20px;
        font-size: 18px;
    }


    .media {
        justify-content: flex-start;
    }

    .icon-text {
        flex-direction: column;
        align-items: flex-start;
    }

    .icon-text h3 {
        margin-left: 0;
        margin-top: 10px;
    }
}